---
# playbooks/maintenance-full.yml
# Maintenance complète du système
- name: Maintenance complète de l'infrastructure
  hosts: all
  become: yes
  gather_facts: yes
  
  vars:
    maintenance_date: "{{ ansible_date_time.date }}"
    enable_auto_reboot: false
        
  tasks:
    - import_tasks: ./tasks/system-update.yml
      tags: [update, security]
     
     
