---
# tasks/docker-cleanup.yml
- name: Check if Docker is present
  stat:
    path: /usr/bin/docker
  register: docker_installed
  
- name: Docker cleanup
  block:
    - name: Delete stopped containers
      shell: docker container prune -f
      
    - name: Delete unused images
      shell: docker image prune -a -f --filter "until=168h"
      
    - name: Delete unused named volumes
      shell: docker volume prune -f
      
    - name: Delete unused networks
      shell: docker network prune -f
      
    - name: Cleanup build cache
      shell: docker builder prune -f --filter "until=168h"
      
    - name: Display free space
      shell: docker system df
      register: docker_space
      
    - name: Display cleanup resume
      debug:
        msg: "{{ docker_space.stdout_lines }}"
        
  when: docker_installed.stat.exists
  ignore_errors: true