---
# tasks/system-update.yml
- name: Mettre à jour le cache APT
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"
  
- name: Effectuer les mises à jour
  apt:
    upgrade: "{{ 'safe' if (security_only | default(false)) else 'dist' }}"
    autoremove: yes
    autoclean: yes
  register: apt_update_result
  when: ansible_os_family == "Debian"

- name: Vérifier si un reboot est requis
  stat:
    path: /var/run/reboot-required
  register: reboot_required_file
  
- name: Planifier un reboot si nécessaire et autorisé
  reboot:
    reboot_timeout: 600
    msg: "Redémarrage planifié par Ansible pour appliquer les mises à jour"
  when: 
    - reboot_required_file.stat.exists
    - enable_auto_reboot | default(false) | bool
